<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>SUIC | Registrar persona </title>
			<link rel="stylesheet" type="text/css" href="../public/dist/css/home.css">
	</head>
	<body>
		<i class=" burger-button icon-menu" id="burger-button"></i>
		<div class="container">
			<header class="header" id="header">
				<div class="header-logo">
					<figure class="logotipo">
						<a href="index.html"><img src="../public/dist/images/LogoSuic.png" alt="Logo"
								width="120"></a>
					</figure>
				</div>
				<nav class="header-nav header__nav-ul">
					<div class="main-title">
						<a href="#">PRINCIPAL</a>
					</div>
					<details class="nav__details">
						<summary class="nav_link">
							VEHICULOS
						</summary>
						<ul>
							<li id="add_vehicle"><a href="registrar_vehiculo.html">Registrar vehículo</a></li>
							<li><a href="list_vehicle.html">Listar vehículos</a></li>
						</ul>
					</details>
					<details class="nav__details">
						<summary class="nav_link">
							RODAMIENTOS
						</summary>
						<ul>
							<li><a class="insert_tread" href="add_road.html">Insertar rodamiento</a></li>
							<li><a href="list_road.html">Listar rodamiento</a></li>
						</ul>
					</details>
					<details class="nav__details">
						<summary class="nav_link">
							TIEMPOS
						</summary>
						<ul>
							<li><a href="insert_time.html">Insertar Tiempos</a></li>
							<li><a href="time.html">Ver Tiempos</a></li>
							<li><a href="search_time.html">Consultar Tiempo</a></li>
						</ul>
					</details>
					<details class="nav__details">
						<summary class="nav_link">
							OPERADORES
						</summary>
						<ul>
							<li><a href="#">Insertar operador</a></li>
							<li><a href="#">Listar operador</a></li>
						</ul>
					</details>
					<details class="nav__details">
						<summary class="nav_link">
							TURNOS
						</summary>
						<ul>
							<li><a href="#">Insertar turno</a></li>
							<li><a href="#">Listar turno</a></li>
						</ul>
					</details>
					<ul>
						<i c class="nav_link" lass="nav__icon icon-exit "></i><a href="#">Cerrar sesión</a>
					</ul>
				</nav>
			</header>
			<section class ="info" id="info">
				<article class = "departure">
					<div class="date">
						<h1 class="title__date">Fecha</h1>
						<div class = "info__date" id="info__date"></div>
					</div>
					<div class="time">
						<h1 class="title__time">Hora</h1>
						<div class = "info__time" id="info__time"></div>
					</div>
				</article>
			</section>
			<section class="content">
				<div class="user_add">
					<div class="icon_title">
						<i class="icon-user-plus icon-title "></i>
						<h1 class="main_title">Personas</h1>
					</div>
					<div class="sub_title">
						<h2 class="title_sub">Registrar persona</h2>
					</div>
					<div class="general_from ">
						<h2 class="info_general">Informacion persona</h2>
						<div class="form_general-content info_people">
							<form action="list_turn.html" class="insert-user" method="post" accept-charset="utf-8">
								<div class="register registro-persona">
									<div class="side__left">
										<label class="label-nombre" for="nombre">Nombres:</label>
										<input type="text" name="nombre" required>
										<label class="label-apellido" for="apellido">Apellidos:</label>
										<input type="text" name="apellido" required>
										<label for="tipo_cedula">Tipo documento:</label>
										<select name="tipo_cedula" required>
											<option value="">------</option>
											<option value="cc">C.c</option>
											<option value="pasaporte">Pasaporte</option>
										</select>
										<label for="cedula">Numero cedula:</label>
										<input type="text" name="cedula" required>
									</div>
									<div class="side__rigth">
										<label for="direccion">Direccion:</label>
										<input type="text" name="direccion" required>
										<label for="telefono">telefono:</label>
										<input type="tel" name="telefono">
										<label for="celular">Celular:</label>
										<input type="tel" name="celular"required placeholder="310-050-0900" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
										<label for="email">Email:</label>
										<input type="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
										<label for="genero">Genero:</label>
										<select name="genero" required>
											<option value="">------</option>
											<option value="m">M</option>
											<option value="f">F</option>
											<option value="otro">Otro</option>
										</select>
									</div>
								</div>
								<div class="btn_form div_btn">
									<input type="submit" class="btn-save" name="" value="Guardar">
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>
			<footer class="copyright">
				<div class="copy-div">
					<p class="copy-p">
						COPYRIGHT© SISTEMA SUIC 1.0 | DESARROLLO DE SOFTWARE
					</p>
				</div>
			</footer>
		</div>
		<script src="../public/dist/js/application.js">
		</script>
	</body>
</html>