{% extends "layout.twig" %}

{% block content %}
    <section class="info" id="info">
        <article class="departure">
            <div class="location">
                <h1 class="title__control">Control</h1>
            </div>
            <div class="date">
                <h1 class="title__date">Fecha</h1>
                <div class="info__date" id="info__date"></div>
            </div>
            <div class="time">
                <h1 class="title__time">Hora</h1>
                <div class="info__time" id="info__time"></div>
            </div>
        </article>
    </section>
    <section class="content">
        <div class="rodamiento_add">
            <div class="icon_title">
                <i class="icon-road icon-title "></i>
                <h1 class="main_title">Rodamientos</h1>
            </div>
            <div class="sub_title">
                <h2 class="title_sub">Registrar rodamiento</h2>
            </div>
            <div>
                <h2 class="info_general">Informacion general</h2>
                <div class="form_general-content from_road">
                    <form accept-charset="utf-8" action="/web-coodetrans/rodamiento/add" method="post" enctype="multipart/form-data" >
                        <label class="" id="planilla">
                            Planilla:
                            <input class=" input-rodamiento" min="1" name="planilla" type="number" value=""></label>
                        <label class="">Control:
                            <select name="control" required>
                                <option value="">Seleccione:</option>
                                {% for control in controles %}
                                    <option value={{control.control_id}}>{{control.nombre}}</option>
                                {% endfor %}
                            </select>
                        </label>
                        <label class="">
                            Vehiculo:
                            <input list="vehiculo" name="vehiculo" required type="search">
                            <datalist id="vehiculo">
                                {% for vehiculo in vehiculos %}
                                    <option value={{vehiculo.vehiculo_id|e}}>{{vehiculo.numero_interno}}</option>
                                {% endfor %}
                            </datalist>
                        </label>
                            <label>Recibo
                                <input class = "imgRecibo" name="imagen" type="file"></input>
                            </label>
                        <div class="div_btn">
                            <input class="btn-save" name="" type="submit" value="Guardar">
                        </div>
                    </form>
                </div>
            </div>
        </section>

    {% endblock %}
