    <section class="info" id="info">
        <article class="departure">
            <div class="location">
                <h1 class="title__control">Control</h1>
            </div>
            <div class="date">
                <h1 class="title__date">Fecha</h1>
                <div class="info__date" id="info__date"></div>
            </div>
            <div class="time">
                <h1 class="title__time">Hora</h1>
                <div class="info__time" id="info__time"></div>
            </div>
        </article>

        <p>helooooo</p>
    </section>
    {% block tiempo %}{% endblock %}