{% extends "layout.twig" %}
{% block title %}| Agregar persona{% endblock %}
{% block content %}

    <section class="content">
        <div class="user_add">
            <div class="icon_title">
                <i class="icon-user-plus icon-title "></i>
                <h1 class="main_title">Personas</h1>
            </div>
            <div class="sub_title">
                <h2 class="title_sub">Registrar persona</h2>
            </div>
            <div class="general_from ">
                <h2 class="info_general">Informacion persona</h2>
                <div class="form_general-content info_people">
                    <form accept-charset="utf-8" action="/web-coodetrans/persona/add" class="insert-user" method="post">
                        <div class="register registro-persona">
                            <div class="side__left">
                                <label class="label-nombre" for="nombre">Nombres:
                                    <input name="nombre" required type="text"/></label>

                                <label class="label-apellido" for="apellido">Apellidos:
                                    <input name="apellido" required type="text"/></label>

                                <label for="tipo_documento">Tipo documento:
                                    <select name="tipo_documento" required>
                                        <option value="">Seleccione:</option>
                                        <option value="C.c">C.c</option>
                                        <option value="Nit">Nit</option>
                                        <option value="PEP">PEP</option>
                                        <option value="Pasaporte">Pasaporte</option>
                                    </select>
                                </label>
                                <label for="cedula">Numero Documento:
                                    <input name="numero_documento" required type="text"/></label>
                            </div>
                            <div class="side__rigth">
                                <label for="direccion">Direccion:
                                    <input name="direccion" required type="text"/></label>

                                <label for="telefono">telefono:
                                    <input name="telefono" pattern="^[2][0-9]{8}$" type="tel"/></label>

                                <label for="celular">Celular:
                                    <input name="celular" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="Numero celular" required title="Un elemplo de como insertar 310-050-0900" type="tel"/></label>

                                <label for="email">Email:
                                    <input name="email" type="email"/></label>

                                <label for="genero">Genero:
                                    <select name="genero" required>
                                        <option value="">------</option>
                                        <option value="M">Masculino</option>
                                        <option value="F">Femenino</option>
                                        <option value="Otro">Otro</option>
                                    </select>
                                </label>
                            </div>
                            <div class="btn_form  div_btn btn-info">
                                <input class="btn-save btn-on" name="" type="submit" value="Siguiente"/>
                            </div>
                            <div class="alert">
                                {{respuestaMensaje}}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
