{% extends "layout.twig" %}

{% block content %}
    <section class="info" id="info">
        <article class="departure">
            <div class="date">
                <h1 class="title__date">Fecha</h1>
                <div class="info__date" id="info__date"></div>
            </div>
            <div class="time">
                <h1 class="title__time">Hora</h1>
                <div class="info__time" id="info__time"></div>
            </div>
        </article>
    </section>
    <section class="content">
        <div class="title-bienvenido">
            <h1>Bienvenid@ Analista</h1>
        </div>
        <article class="select-ruta">
            <div class="contentCambiRuta">
                <label for="select-ruta"></label>
                <select name="select-ruta">
                    <option value="">--Elija una opcion--</option>
                    <option value="rozo">Rozo</option>
                    <option value="padrera">Pradera</option>
                    <option value="costa-rica">Costa rica</option>
                    <option value="buga">Buga</option>
                    <option value="candelaria">Candelaria</option>
                </select>
            </div>
        </article>
        <article class="info__content vehiculo-turno">
            <div class="tabla-turno">
                <table>
                    <caption>TURNOS ACTIVOS</caption>
                    <thead>
                        <tr>
                            <th>Vehiculo</th>
                            <th>Turno</th>
                            <th>Ruta</th>
                            <th>Salida</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>data</td>
                            <td>data</td>
                            <td>Palmira-Candelaria</td>
                            <td>data</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </article>

    </section>
    <footer class="copyright">
        <div class="copy-div">
            <p class="copy-p">
                COPYRIGHT© SISTEMA SUIC 1.0 | DESARROLLO DE SOFTWARE
            </p>
        </div>
    </footer>
{% endblock %}
