{% extends "layout.twig" %}

{% block content %}
    <section class="info" id="info">
        <article class="departure">
            <div class="location">
                <h1 class="title__control">Control</h1>
            </div>
            <div class="date">
                <h1 class="title__date">Fecha</h1>
                <div class="info__date" id="info__date"></div>
            </div>
            <div class="time">
                <h1 class="title__time">Hora</h1>
                <div class="info__time" id="info__time"></div>
            </div>
        </article>
    </section>
    <section class="content">
        <div class="vehiculo_add">
            <div class="icon_title">
                <i class="icon-vehiculo icon-title "></i>
                <h1 class="main_title">Vehiculos</h1>
            </div>
            <div class="sub_title">
                <h2 class="title_sub">Registrar vehiculo</h2>
            </div>
            <div class="general_from">
                <h2 class="info_general">Informacion general</h2>
                <div class="form_general-content ">
                    <form accept-charset="utf-8" action="/web-coodetrans/vehiculos/add" method="post">
                        <div class="register">
                            <div class="side__left">
                                <label>Numero interno:
                                    <input name="interno" required min="1" type="number"></label>
                                <label>Placa:
                                    <input name="placa" pattern="^[AZ-09]{7}$" required type="text"></label>
                                <label class="">Marcar:
                                    <select class="" name="marca" required>
                                        <option value="">Seleccione:</option>
                                        {% for marca in marcas  %}
                                            <option value={{marca.id_marca}}>{{marca.nombre}}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                                <label>Modelo:
                                    <input name="modelo" required min="1" type="number"></label>
                                <label class="">Ruta:
                                    <select class="" name="ruta" required>
                                        <option value="">Seleccione:</option>
                                        <option value="Pradera">Pradera</option>
                                        <option value="Candelaria">Candelaria</option>
                                        <option value="Buga">Buga</option>
                                        <option value="Florida">Florida</option>
                                        <option value="Costarica">Costarica</option>
                                        <option value="Rozo">Rozo</option>
                                    </select>
                                </label>
                            </div>
                            <div class="side__right">
                                <label>Capacidad:
                                    <input name="capacidad" min="1" required type="number"></label>
                                <label class="">Carroceria:
                                    <select class="" name="carroceria" required>
                                        <option value="">Seleccione:</option>
                                        <option value="Cerrado">Cerrado</option>
                                        <option value="Abierto">Abierto</option>
                                        <option value="Escalera">Escalera</option>
                                    </select>
                                    <label class="">Clase buseta:
                                        <select class="" name="clase_bus" required>
                                            <option value="">Seleccione:</option>
                                            <option value="Buseta">Buseta</option>
                                            <option value="Bus">Bus</option>
                                            <option value="Microbus">Microbus</option>
                                            <option value="BusetaNPR">BusetaNPR</option>
                                        </select>
                                        <label>Consumo:
                                            <input name="consumo" min="1" placeholder="consumo por galon" required type="number"></label>
                                    </div>
                                    <div class="btn_form">
                                        <input class="btn-save" name="" type="submit" value="Guardar">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        {% endblock %}
