<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../public/dist/css/home.css">
		<title>Inicio sesión</title>
	</head>
	<body>
		<div class="container__login">
			<form  action="index.html" method="get" accept-charset="utf-8">
				<div class="formLogin" id="form">
					<figure>
						<img src="../public/dist/images/LOGO JHONNY.png" alt="" width="250">
					</figure>
					<div class="dateUser">
						<label for="name" class="dateUser-label_name">Usuario</label>
						<div class="form-user">
							<i class="icon-user"></i>
							<input type="text" required class="dateUser-input_name" id="name" name="name">
						</div>
						<label for="password" class="dateUser-label_password" >Password</label>
						<div class="password-user">
							<i class="icon-key2"></i>
							<input type="password" required class="dateUser-input_password" id="password" name="password">
						</div>
						<label><input type="checkbox" name="recordar" value="recordar">Recordar</label>
						<div class="btn__form">
							<button class="btn btn_login" type="submit" value="login">Iniciar sesión</button>
						</div>
					</div>
				</div>
			</form>
			<div class="waves">
				<div class="wave circulo a"></div>
				<div class="wave circulo b"></div>
				<div class="wave circulo c"></div>
			</div>
		</div>
	</body>
</html>