

<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <link href="../public/dist/favicon/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
        <link href="../public/dist/favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
        <link href="../public/dist/favicon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
        <link href="../public/dist/favicon/site.webmanifest" rel="manifest">
        <meta content="#da532c" name="msapplication-TileColor">
        <meta content="#ffffff" name="theme-color">
        <title>SUIC | Inicio sesión</title>
        <link href="../../public/dist/css/home.css" rel="stylesheet" type="text/css">
        <link href="../public/dist/css/home.css" rel="stylesheet" type="text/css">
        <link href="public/dist/css/home.css" rel="stylesheet" type="text/css">
	</head>
	<body>
    	<div class="container__login">
            {% block Logear %}{% endblock %}
    		<div class="waves">
				<div class="wave circulo a"></div>
				<div class="wave circulo b"></div>
				<div class="wave circulo c"></div>
			</div>
		</div>
	</body>
</html>