<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="apple-touch-icon" sizes="180x180" href="../public/dist/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="../public/dist/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="../public/dist/favicon/favicon-16x16.png">
		<link rel="manifest" href="../public/dist/favicon/site.webmanifest">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		<title>SUIC |recaudo marcada</title>
		<link rel="stylesheet" type="text/css" href="../public/dist/css/home.css">
	</head>
	<body>
		<i class=" burger-button icon-menu" id="burger-button"></i>
		<div class="container">
			<header class="header" id="header">
				<div class="header-logo">
					<figure class="logotipo">
						<a href="index.html"><img src="../public/dist/images/LogoSuic.png" alt="Logo"
								width="120"></a>
					</figure>
				</div>
				<nav class="header-nav header__nav-ul">
					<div class="main-title">
						<a href="#">PRINCIPAL</a>
					</div>
					<details class="nav__details">
						<summary class="nav_link">
							VEHICULOS
						</summary>
						<ul>
							<li id="add_vehicle"><a href="registrar_vehiculo.html">Registrar vehículo</a></li>
							<li><a href="list_vehicle.html">Listar vehículos</a></li>
						</ul>
					</details>
					<details class="nav__details">
						<summary class="nav_link">
							RODAMIENTOS
						</summary>
						<ul>
							<li><a class="insert_tread" href="add_road.html">Insertar rodamiento</a></li>
							<li><a href="list_road.html">Listar rodamiento</a></li>
						</ul>
					</details>
					<details class="nav__details">
						<summary class="nav_link">
							TIEMPOS
						</summary>
						<ul>
							<li><a href="insert_time.html">Insertar Tiempos</a></li>
							<li><a href="time.html">Ver Tiempos</a></li>
							<li><a href="search_time.html">Consultar Tiempo</a></li>
						</ul>
					</details>
					<details class="nav__details">
						<summary class="nav_link">
							OPERADORES
						</summary>
						<ul>
							<li><a href="#">Insertar operador</a></li>
							<li><a href="#">Listar operador</a></li>
						</ul>
					</details>
					<details class="nav__details">
						<summary class="nav_link">
							TURNOS
						</summary>
						<ul>
							<li><a href="#">Insertar turno</a></li>
							<li><a href="#">Listar turno</a></li>
						</ul>
					</details>
					<ul>
						<i c class="nav_link" lass="nav__icon icon-exit "></i><a href="#">Cerrar sesión</a>
					</ul>
				</nav>
			</header>
			<section class ="info" id="info">
				<article class = "departure">
					<div class="date">
						<h1 class="title__date">Fecha</h1>
						<div class = "info__date" id="info__date"></div>
					</div>
					<div class="time">
						<h1 class="title__time">Hora</h1>
						<div class = "info__time" id="info__time"></div>
					</div>
				</article>
			</section>
			<section class="content">
				<div class="consult_view">
					<div class="icon_title">
						<i class="icon-clock2 icon-title "></i>
						<h1 class="main_title">Informe de tiempo</h1>
					</div>
					<div class="sub_title">
						<h2 class="title_sub">Recaudo marcada</h2>
					</div>
					<div class="general_from ">
						<h2 class="info_general">Informacion marcada</h2>
						<div class="form_general-content info_view">
							<form action="view_buga.html" class="form_entry form_view" method="post" accept-charset="utf-8">
								<label class="general_label label-fecha"
									for="salida"
								class="check">Fecha:</label>
								<input type="date"
								name="salia"
								required>
								<label class="general_label label-vehiculo" for="turn_vehiculo"  required class="vehiculo_turn"> Vehiculo:</label>
								<select class="select_vehi" id="list_vehi" name="label_vehi">
									<option value="8046">8046</option>
									<option value="8016">8016</option>
									<option value="8036">8036</option>
									<option value="8048">8048</option>
									<option value="8004">8004</option>
									<option value="65000">65000</option>
									<option value="8018">8018</option>
								</select>
								<label class="general_label label-num_turno"
									for="num_turno"
								class="check">Turno:</label>
								<input type="number"
								class="input-turn"
								name="num_turno"
								required="">
								<div class="div_btn">
									<input type="submit" class="btn-save btn-consulta" name="" value="Consulta">
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>
			<section class="form_modal modal-search">
				<div class="modal modal-table ">
					<i class="x-close icon-cancel-circle"></i>
					<div class="info-precio">
						<table>
							<caption>Informacion</caption>
							<thead>
								<tr>
									<th>Vehiculo</th>
									<th>Turno</th>
									<th>Numero caida</th>
									<th>Total</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>data</td>
									<td>data</td>
									<td>data</td>
									<td>data</td>
								</tr>
							</tbody>
						</table>
						<div class="print">
							<input type="submit" class="btn btn-print" value="Imprimir">
							<input type="submit" class="btn btn__close" value="Cerrar">
						</div>
					</div>
				</div>
			</section>
			<footer class="copyright">
				<div class="copy-div">
					<p class="copy-p">
						COPYRIGHT© SISTEMA SUIC 1.0 | DESARROLLO DE SOFTWARE
					</p>
				</div>
			</footer>
		</div>
		<script src="../public/dist/js/application.js"></script>
		</script>
	</body>
</html>