<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>SUIC | Insertar tiempos</title>
		<link rel="stylesheet" type="text/css" href="css/home.css">
	</head>
	<body>
		<i class=" burger-button icon-menu" id="burger-button"></i>
		<div class="container">
			<header class="header" id="header">
				<div class="header-logo">
					<a href="#">suic</a>
				</div>
				<nav class="header-nav">
					<ul class="header__nav-ul">
						<li class = "nav_link" id="nav__link" >
							<i class="nav__icon icon-home "></i><a href="#">Principal</a>
						</li>
						<li class = "nav_link" id="nav__link" >
							<i class="nav__icon icon-truck"></i><a href="#">Vehículos</a>
						</li>
						<ul class="sub__menu">
							<li id="add_vehicle" ><a href="#">Insertar vehículo</a></li>
							<li><a href="list_vehicle.html">Listar vehículos</a></li>
						</ul>
						<li class = "nav_link" id="nav__link" >
							<i class="nav__icon icon-road "></i><a href="#">Rodamiento</a>
						</li>
						<ul class="sub__menu">
							<li><a class="insert_tread" href="#">Insertar rodamiento</a></li>
							<li><a href="#">Listar rodamiento</a></li>
						</ul>
						<li class = "nav_link" id="nav__link">
							<i class="nav__icon icon-stopwatch"></i><a href="#">Tiempos</a>
						</li>
						<ul class="sub__menu">
							<li><a href="insert_time.html">Insertar Tiempos</a></li>
							<li><a href="time.html">Ver Tiempos</a></li>
							<li><a href="search_time.html">Consultar Tiempo</a></li>
						</ul>
						<li class = "nav_link" id="nav__link" >
							<i class="nav__icon icon-user"></i><a href="#">Operadores</a>
						</li>
						<ul class="sub__menu">
							<li><a href="#">Insertar operador</a></li>
							<li><a href="#">Listar operador</a></li>
						</ul>
						<li class = "nav_link" id="nav__link" >
							<i class="nav__icon icon-spinner10"></i><a href="#">Turnos</a>
						</li>
						<ul class="sub__menu">
							<li><a href="#">Insertar turno</a></li>
							<li><a href="#">Listar turno</a></li>
						</ul>
						<li class = "nav_link" id="nav__link" >
							<i class="nav__icon icon-exit "></i><a href="#">Cerrar sesión</a>
						</li>
					</ul>
				</nav>
			</header>
			<section class ="info" id="info">
				<article class = "departure">
					<div class="location">
						<h1 class="title__control">Control</h1>
					</div>
					<div class="date">
						<h1 class="title__date">Fecha</h1>
						<div class = "info__date" id="info__date"></div>
					</div>
					<div class="time">
						<h1 class="title__time">Hora</h1>
						<div class = "info__time" id="info__time"></div>
					</div>
				</article>
			</section>
			<section class="content">
				<div class="registrar_persona">
					<div class="icon_title">
						<i class="icon-user-plus icon-title "></i>
						<h1 class="main_title">Personas</h1>
					</div>
					<div class="sub_title">
						<h2 class="title_sub">Registrar personas</h2>
					</div>
					<div class="general_from">
						<h2 class="info_general">Informacion general</h2>
						<div class="form_general-content">
							<form   action="listpersonas.html" method="get" accept-charset="utf-8">
								<div class="register">

									<div class="side__left">
										<label class="general_label" for="clase_bus">Tipo documento</label>
										<select required id="clase_bus" name="clase_bus" >
											<option value="">--Seleccionar una opción--</option>
											<option value="buseta">Buseta</option>
											<option value="bus">Bus</option>
											<option value="microbus">Micro bus</option>
											<option value="busetaNPR">NPR</option>
										</select>
										<label class="general_label" for="documento">Numero documento</label>
										<input type="text" required placeholder="Ingresar documento" name="documento" value="">
										<label class="general_label" for="nombre">Nombres</label>
										<input type="text" required name="nombre" autofocus placeholder="Ingresar nombres">
										<label class="general_label" for="apellido">Apellidos</label>
										<input type="text" required placeholder="Ingresar Apellido" name="apellido">
										<label class="general_label" for="capacidad">Capacidad</label>
										<input type="text" required name="capacidad" placeholder="capacidad">
										<label class="general_label" for="consumo_galon">Consumo por galón</label>
										<input type="text" required name="consumo_galon" placeholder="consumo galon">
									</div>
									<div class="side__right">

										<label class="general_label" for="ruta">Ruta</label>
										<select required id="ruta" name="ruta" >
											<option value="">--Seleccionar una opción--</option>
											<option value="buga">Buga</option>
											<option value="florida">Florida</option>
											<option value="pradera">Pradera</option>
											<option value="costa_rica">Costa rica</option>
											<option value="candelario">Candelaria</option>
										</select>
										<label class="general_label" for="nombres">Marcas</label>
										<select required id="marca" name="" name="marca">
											<option value="">--Seleccionar una opcion--</option>
											<option value="chev">Chev</option>
											<option value="ford">Ford</option>
											<option value="stud">Stud</option>
											<option value="daihat">Daihat</option>
											<option value="merc">Merc</option>
											<option value="dog">Dog</option>
											<option value="hino">Hino</option>
											<option value="NonPlusUltra">Non plus ultra</option>
											<option value="nissa">Nissan</option>
											<option value="novie">Novie</option>
											<option value="iveco">Iveco</option>
											<option value="volsk">Volsk</option>
											<option value="tl">TL</option>
											<option value="jac">JAC</option>
										</select>
										<label class="general_label" for="marcas">Carrocería</label>
										<select  required id="carroceria" name="carroceria">
											<option value="">--Seleccionar una opción--</option>
											<option value="carrado">Cerrado</option>
											<option value="abierto">Abierto</option>
											<option value="escalera">Escalera</option>
										</select>
									</div>
									<div class="btn_form">
										<button class="btn btn__add" id="hiden-add" type="submit" value="agregar" target="_blank" >Agregar</button>
										<button class="btn btn__close" id="hiden-cancel" type="submit" value="cencelar">Cancelar</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>
			<footer class="copyright">
				<div class="copy-div">
					<p class="copy-p">
						COPYRIGHT© SISTEMA SUIC 1.0 | DESARROLLO DE SOFTWARE
					</p>
				</div>
			</footer>
			<script src="js/application.js">
			</script>
		</div>
	</body>
</html>