<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="apple-touch-icon" sizes="180x180" href="../public/dist/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="../public/dist/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="../public/dist/favicon/favicon-16x16.png">
		<link rel="manifest" href="../public/dist/favicon/site.webmanifest">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		<title>SUIC | Tiempo cali-buga</title>
		<link rel="stylesheet" type="text/css" href="../public/dist/css/home.css">
	</head>
	<body>
		<i class=" burger-button icon-menu" id="burger-button"></i>
		<div class="container">
			<header class="header" id="header">
				<div class="header-logo">
					<figure class="logotipo">
						<a href="index.html"><img src="../public/dist/images/LogoSuic.png" alt="Logo"
								width="120"></a>
					</figure>
				</div>
				<nav class="header-nav header__nav-ul">
					<div class="main-title">
						<a href="#">PRINCIPAL</a>
					</div>
					<details class="nav__details">
						<summary class="nav_link">
							VEHICULOS
						</summary>
						<ul>
							<li id="add_vehicle"><a href="registrar_vehiculo.html">Registrar vehículo</a></li>
							<li><a href="list_vehicle.html">Listar vehículos</a></li>
						</ul>
					</details>
					<details class="nav__details">
						<summary class="nav_link">
							RODAMIENTOS
						</summary>
						<ul>
							<li><a class="insert_tread" href="add_road.html">Insertar rodamiento</a></li>
							<li><a href="list_road.html">Listar rodamiento</a></li>
						</ul>
					</details>
					<details class="nav__details">
						<summary class="nav_link">
							TIEMPOS
						</summary>
						<ul>
							<li><a href="insert_time.html">Insertar Tiempos</a></li>
							<li><a href="time.html">Ver Tiempos</a></li>
							<li><a href="search_time.html">Consultar Tiempo</a></li>
						</ul>
					</details>
					<details class="nav__details">
						<summary class="nav_link">
							OPERADORES
						</summary>
						<ul>
							<li><a href="#">Insertar operador</a></li>
							<li><a href="#">Listar operador</a></li>
						</ul>
					</details>
					<details class="nav__details">
						<summary class="nav_link">
							TURNOS
						</summary>
						<ul>
							<li><a href="#">Insertar turno</a></li>
							<li><a href="#">Listar turno</a></li>
						</ul>
					</details>
					<ul>
						<i c class="nav_link" lass="nav__icon icon-exit "></i><a href="#">Cerrar sesión</a>
					</ul>
				</nav>
			</header>
			<section class ="info" id="info">
				<article class = "departure">
					<div class="location">
						<h1 class="title__control">Control</h1>
					</div>
					<div class="date">
						<h1 class="title__date">Fecha</h1>
						<div class = "info__date" id="info__date"></div>
					</div>
					<div class="time">
						<h1 class="title__time">Hora</h1>
						<div class = "info__time" id="info__time"></div>
					</div>
				</article>
			</section>
			<section class="content">
				<div class="add_time">
					<form action="time_cali_cost_submit" class="form_time" method="get" accept-charset="utf-8">
						<div class="horario">
							<label for="num_turno">Numero turno</label>
							<input type="number" required name="num_turno">
							<label for="label_vehi">Vehiculo:</label>
							<select class="select_vehi" id="list_vehi" name="label_vehi">
								<option value="8046">6038</option>
								<option value="8016">6143</option>
								<option value="8036">6043</option>
								<option value="8048">6001</option>
								<option value="8004">6105</option>
								<option value="65000">61000</option>
								<option value="8018">6002</option>
							</select>
						</div>
						<div class="oneRow">
							<label for="time_llano">Llanogrande:</label>
							<input type="time" name="time_llano" value="03:00" min="03:00" max="23:00">
							<label for="time_cerri">Estacion cerrito: </label>
							<input type="time" name="time_cerri" value="03:00" min="03:00" max="23:00">
							<label for="time_eds">EDS viña:</label>
							<input type="time" name="time_eds" value="03:00"min="03:00" max="23:00">
							<label for="observacion">Observación: </label>
							<input type="text" name="observacion">
						</div>
						<div class="form_button save_button">
							<button class="btn btn__add " type="submit">Guardar</button>
						</div>
					</form>
				</div>
				<article class="info__content" >
					<table class="info__frame"> <!-- tabla -->
						<thead> <!-- cabecera -->
							<tr>
								<th>Salida</th> <!-- celda cabecera -->
								<th>Num turno</th> <!-- celda cabecera -->
								<th>Vehículo</th>
								<th>Llanogrande</th>
								<th>Caida</th>
								<th>Peaje cerrito</th>
								<th>Caida</th>
								<th>EDS villa</th>
								<th>Caida</th>
								<th>Observación</th>
							</tr>
						</thead>
						<tbody> <!-- cuerpo -->
							<tr>
								<td>4:50</td>
								<td>4</td>
								<td>6005</td>
								<td>5:00</td>
								<td>1</td>
								<td>5:00</td>
								<td>-2</td>
								<td>5:00</td>
								<td>0</td>
								<td>Debe</td>
								<td class="delite-ico">
									<div class="acciones_icon ">
										<i class="edit__bus icon-pencil" id=""></i>
										<i class="delete__bus icon-bin" id="delete__bus"></i>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					</article>
					<div class="dataTable_paginate">
						<ul class="pagination">
							<li class="paginate_button page-item">
								<a class="page_link" href="#" >Anterior</a>
							</li>
							<li class="paginate_button page-item">
								<a class="page_link" href="#" >1</a>
							</li>
							<li class="paginate_button page-item">
								<a class="page_link" href="#" >2</a>
							</li>
							<li class="paginate_button page-item">
								<a class="page_link" href="#" >3</a>
							</li>
							<li class="paginate_button page-item">
								<a class="page_link" href="#" >Siguiente</a>
							</li>
						</ul>
					</div>
			</section>
			<footer class="copyright">
				<div class="copy-div">
					<p class="copy-p">
						COPYRIGHT© SISTEMA SUIC 1.0 | DESARROLLO DE SOFTWARE
					</p>
				</div>
			</footer>
			<script src="../public/dist/js/application.js"></script></script>
		</div>
	</body>
</html>