.btn-save
,.btn-search
,.btn {
	@apply --button;
	&:active{
		transform:scale(.9);
	}
}



.btn-search {
	background-color: var(--principalColor);
	color:var(--lightColor);
	font-weight: 580;
	font-size: 1em;
	margin-left: 10px;
}

.btn.btn_login{
	background-color:var(--btnLogin);
}

.btn-print
,.btn-save{
	background-color: var(--principalColor);
}

.btn__close{
	background-color: var(--btn-close);
}



.btn_form {
	grid-area:btn_form;
	text-align: center;
}

.burger-button {
	display: none;
	width:2.5em;
	height: 2.5em;
	line-height: 2.5em;
	text-align: center;
	position: absolute;
	z-index: 4;
	right: 2em;
	color:var(--lightColor);
	cursor: pointer;
	@media(--extra-small) {
		display: block;
	}
}

.acciones_icon {
	& i{
	padding: 5px;
	cursor: pointer;
	&:hover{
		color:#C8C8C8;
		}
	}
}

.delite-ico{
	display: none;
}

.icon-bin {
	margin-left: 5px;
}