
.form_search{
	align-items: center;
	display: flex;
	justify-content: center;
	text-transform: uppercase;
}


.form_search label:nth-child(1n + 2) {
	margin-left: 17px;
}

.form_search input{
	border-radius: 5px;
	border: 1px solid var(--principalColor);
	padding: 3px 5px;
	text-align: center;
	text-transform: uppercase;
	margin-left: 10px;
}

.form_time {
	display: flex;
	/*grid-template-columns: repeat(8,1fr);*/
	justify-content: center;
	/*margin-left: 5px;*/
	flex-grow:1;
	padding: .5em;
	@media(--small){
		grid-template-columns: 1fr;
	}
		& .select_vehi {
			width: 104px;
			border-radius: 5px;
			padding: 5px;
			border: 1px solid var(--principalColor);
		}
		& input {
			border-radius: 5px;
			padding: 5px;
			border: 1px solid var(--principalColor);
		}
		& label {
			text-align: center;
		}

}