/*FORMULARIOS*/


.dataFilter-from{
	display: flex;
	align-items: center;
	justify-content: center;
}

.search__icon{
	font-size: 1.4em;
	position: relative;
	padding: 5px;
	color: var(--lightColor);
	z-index: 1;
	border: 1px solid var(--principalColor);
	border-radius: 5px 0 0 5px;
	background-color: var(--principalColor);
}



.from-search {
	align-items: center;
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	border-radius: 5px;
	margin-left: 15px;
	padding: .6em;
	border: 1px solid var(--contrans);
	color:var(--principalColor);;
	width: 50%;
	transition: .6s;
	cursor: pointer;
	&:focus{
		border:1px solid var(--borderhover);
		box-shadow: 0 0 0 .1rem rgba(68, 113, 188, .4);
		width: 100%;
	}
}


.form_time {
	text-align: center;
	padding: .5em;
		& .select_vehi {
			/*width: 104px;*/
			border-radius: 5px;
			padding: 5px;
			border: 1px solid var(--principalColor);
				margin-left: 5px;
			@media (--small) {
				width: 100px;
			}
		}

			& input {
				width: 95px;
				margin-left: 5px;
				border-radius: 5px;
				padding: 5px;
				border: 1px solid var(--principalColor);
			@media (--small) {
				width: 100px;
				}
			}

			& label {
				text-align: center;
				margin-left:  8px;
			}

}



.horario
,.oneRow
,.save_button {
	display: flex;
	align-items: center;
	text-align: center;
	flex-wrap:wrap;
	padding: 15px 0;
	justify-content: center;
	@media(--small) {
		display: grid;
		grid-template-columns:  repeat(2, 1fr);
		justify-content: center;
			&.save_button{
				display:flex;
				justify-content: center;
			}
	}
}

.horario {
		box-shadow:  0 .1rem rgba(0, 0, 0, .3);
		@media(--small){
		padding-bottom: 10px;
		}
		@media(--extra-small) {
			box-shadow: none;

	}
}

.oneRow input, label{
	margin-bottom: 10px;
}

.general_from {
	background-color: var(--ligtTbody);
}

.title__form {
	grid-area: title__form;
	text-transform: uppercase;
	margin-bottom: 10px;
	font-weight: 800;
	color: inherit;
	padding: 0 10px;
}


.sub_title {
	text-transform: uppercase;
	border: 1px solid var(--contrans);
	border-radius: 8px 8px 0 0;
	background-color: var(--contrans);
	padding: 15px ;
}


.form_general-content {
	margin-left: 30px;
	padding: 10px;
}
.general_input{
	@apply --form_input;
	width: 350px;
	&:hover {
		background-color:var(--ligtTbody);
	}
	@media(--extra-small){
		width:auto;

	}
}

.general_label {
	display: block;
	font-size: 1.2em;
	color: var(--letters);
}









