

.info{
	grid-area: info;
	text-align: center;
	@media (--small){
		display: initial;
	}
}

.content {
	grid-area: content;
	margin: 50px 20px;
	max-width: 960px;
	@media(--small){
		max-width: 430px;
		margin: 20px 20px;
	}
}


.container {
	display: grid;
	grid-template: 100px 1fr 3.2em / 250px 1fr ;
	grid-template-areas: "header info"
						 "header content"
						 "header footer";
	height: 100vh;
	@media(--extra-small) {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

}

.header-logo{
	display: flex;
	justify-content: center;
}

.header-logo a{
	color:var(--principalColor);
	text-decoration: none;
}


.logotipo {
	margin:0;
	text-align: center;
}

.logotipo img {
	padding: .8em;
}

.header{
	grid-area: header;
	background-color: var(--principalColor);
	color:var(--lightColor);
	@media(--extra-small){
		display: block;
		height: auto;
		padding:.8em;
	}
}



.info__content{
	overflow: auto;
}

.tread {
	display: inline-block;
	@media(--extra-small){
		display:block;
	}

}

.title_marcada_search{
	display: inline-block;
	padding: 8px;
}


.departure {
	display: flex;
	justify-content: space-evenly;
	padding: 20px;
	@media(--extra-small) {
		display: flex;
		justify-content: space-evenly;
		font-size: .8em;
		padding:15px 0;
	}
}

.active{
	background-color:var(--navColor);
}



.header-nav {
	position: relative;
	padding: 15px 0;
	left: 3em;
	width: 190px;
	& a{
		color:var(--lightColor);
		text-decoration: none;
	}
	@media(--small){
		position:static;
		padding:0;
		left: 3em;
	}
}

.header__nav-ul {
	@media(--extra-small) {
		position: relative;
		display: none;	
	}
	&.is-active{
		@media(--extra-small){
		display: block;
		}
	}
}

.nav_link{
	padding: 15px 0;
	cursor: pointer;
	&:hover {
		background-color:var(--navColor);
		border-radius:5px;
	}

}

.nav__details ul li {
	padding: .5em;
	position: relative;
	width: 150px;
	left: 1.6em;
	&:hover {
		background-color: var(--navColor);
		border-radius:5px;
	}
}

.main-title{
	font-weight: 300;
	font-size: 1.8em;
	transform: translateX(-1.5em);
}

.nav__icon {
	padding: .2em;
}



.side__left{
	grid-area: side__left;
}
.side__right {
	grid-area: side__right;
}

.remove__vehicle{
	background-color: white;
	border:1px solid #273b47;
	border-radius: .8em;
	width: 400px;
	height: 8em;
	text-align: center;
}



.pagination{
	display: flex;
	justify-content:flex-end;
	@media(--small){
		display: flex;
		justify-content: center;
	}
}


.paginate_button{
	margin-top:5px;
	border: 1px solid var(--principalColor);
	padding: .3em .5em;
	border-right: none;
	& a {
	 	text-decoration: none;
	 	color: var(--principalColor);
	}
}

.paginate_button:nth-child(5){
	border-right: 1px solid var(--principalColor);
}

.save_button{
	display: flex;
	align-items:flex-end;
}



.icon_title{
	margin-bottom: 10px;
}


.icon-title,
.main_title{
	font-weight: 700;
	font-size: 1.8em;
	color:var(--principalColor);
	display: inline-block;
}

.icon-title{
	margin-right: 10px;
}

.title_sub{
	color: var(--lightColor);
	font-size: 1em;
}



.info_general{
	color:var(--principalColor);
	font-size: 1em;
	text-transform: uppercase;
	margin-left: 15px;
	padding: 20px 0;
	font-weight: 700;
}

.div_btn{
	@media(--extra-small){
		display: flex;
		justify-content: center;
		padding-top: 10px;
	}
}




.copyright{
	background-color: var(--principalColor);
	color: var(--lightColor);
	width:100%;
	height:100%;
	display:flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	@media(--extra-small) {
		position: relative;
		bottom: 0;
		height: 10%;
	}
}



.copy-p {
	margin:0;
}

.tabla-turno {
	width:400px;
	overflow: auto;
}

.form_view {
	display: flex;
	align-items: center;
	justify-content: center;
}

.print {
	display: flex;
	justify-content: flex-end;
}

.x-close {
	color:var(--btn-close);
	font-size: 1.2em;
	position: absolute;
	top: 5px;
	right: 10px;
	cursor:pointer;
	&:active{
		transform:scale(.9);
	}
}


.registro-persona label {
	display: block;
	margin-bottom: 8px;
}

.registro-persona input
,.registro-persona select {
	width: 80%;
	text-align: center;
}