

.info{
	grid-area: info;
	text-align: center;
	@media (--small){
		display: initial;
	}
}

.content {
	grid-area: content;
	margin: 50px 20px;
	max-width: 960px;
	@media(--small){
		max-width: 430px;
		margin: 20px 20px;
	}
}


.container {
	display: grid;
	grid-template: 100px 1fr 3.2em / 300px 1fr ;
	grid-template-areas: "header info"
						 "header content"
						 "header footer";
	height: 100vh;
	@media(--extra-small) {
		display: initial;
	}

}


.header{
	grid-area: header;
	background-color: var(--principalColor);
	color:white;
	overflow: auto;

	@media(--extra-small){
		display: block;
		height: auto;
	}
}



.info__content{
	overflow: auto;
}

.tread {
	display: inline-block;
	@media(--extra-small){
		display:block;
	}

}

.title_marcada_search{
	display: inline-block;
	padding: 8px;
}


.departure {
	display: flex;
	justify-content: space-evenly;
	padding: 20px;
	@media(--extra-small) {
		display: flex;
		justify-content: space-evenly;
		font-size: .8em;
		padding:15px 0;
	}
}

.active{
	background-color:var(--navColor);
}

.sub__menu {
	overflow: hidden;
	max-height: 0;
	background-color: var(--principalColor);
	transition: .2s cubic-bezier(.17,.67,.83,.67);
	& li {
		padding: 1em 0;
		border-bottom: 1px solid var(--lightBorder);
		&:hover{
			background-color: var(--navColor);
		}
	}
}



 .action_modal {
	display: grid;
	grid-template-areas: "side__left side__right"
						 "btn_form btn_form";

	grid-template-columns: 1fr 1fr;
	grid-template-rows:  1fr 4em;
	grid-gap:20px;
	padding: 16px;
	border-radius: .8em;
	text-align: center;
	@media(--small) {
		width: auto;
		display: block;
		overflow: auto;
	}
}



.header-logo{
		display: block;
		text-align: center;
	& a{
		font-family: 'Poppins', system-ui;
		font-size: 3em;
		text-decoration: none;
		color:var(--lightColor);
		text-transform: uppercase;
		@media(--extra-small){
				font-size: 2em;
			}
		}
		@media(--extra-small){
			text-align:initial;
			margin-left:15px;
		}
}

.header-nav {
	text-align: center;
	padding: 15px 0;
	position: relative;
	top: 2em;
	& a{
		color:var(--lightColor);
		text-decoration: none;
	}
	@media(--small){
		position:static;
		padding:0;
	}
}

.header__nav-ul {
	@media(--extra-small) {
		position: static;
		display: none;
	}
	&.is-active{
		@media(--extra-small){
		display: block;
		}
	}
}

.nav_link{
	padding: 15px 0;
	border-bottom: 1px solid var(--lightBorder);
	cursor: pointer;
	&:hover {
		background-color:var(--navColor);
	}

}

.nav__icon {
	padding: .2em;
}



.side__left{
	grid-area: side__left;
}
.side__right {
	grid-area: side__right;
}

.remove__vehicle{
	background-color: white;
	border:1px solid #273b47;
	border-radius: .8em;
	width: 400px;
	height: 8em;
	text-align: center;
}



.pagination{
	display: flex;
	justify-content:flex-end;
	@media(--small){
		display: flex;
		justify-content: center;
	}
}


.paginate_button{
	margin-top:5px;
	border: 1px solid var(--principalColor);
	padding: .3em .5em;
	border-right: none;
	& a {
	 	text-decoration: none;
	 	color: var(--principalColor);
	}
}

.paginate_button:nth-child(5){
	border-right: 1px solid var(--principalColor);
}

.save_button{
	display: flex;
	align-items:flex-end;
}



.icon_title{
	display: inline-block;
	display: flex;
	margin-bottom: 10px;
	align-items: center;

}


.icon-title,
.main_title{
	font-weight: 700;
	font-size: 1.8em;
	color:var(--principalColor);
}

.icon-title{
	margin-right: 10px;
}

.title_sub{
	color: var(--lightColor);
	font-size: 1em;
}



.info_general{
	color:var(--principalColor);
	font-size: 1em;
	text-transform: uppercase;
	margin-left: 15px;
	padding: 20px 0;
	font-weight: 700;
}

.div_btn{
	@media(--extra-small){
		display: flex;
		justify-content: center;
		padding-top: 10px;
	}
}


footer {
	grid-area: footer;
}

.copyright{
	background-color: var(--principalColor);
	color: var(--lightColor);
	width:100%;
	height:100%;
	display:flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	@media(--extra-small) {
		position: relative;
		bottom: 0;
		height: 10%;
	}
}



.copy-p {
	margin:0;
}

.tabla-turno {
	width:400px;
	overflow: auto;
}