<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>SUIC | Panel </title>
		<link rel="stylesheet" type="text/css" href="css/home.css">
	</head>
	<body>
		<i class=" burger-button icon-menu" id="burger-button"></i>
		<div class="container">
			<header class="header" id="header">
				<div class="header-logo">
					<a href="#">suic</a>
				</div>
				<nav class="header-nav">
					<ul class="header__nav-ul">
						<li class = "nav_link" id="nav__link" >
							<i class="nav__icon icon-home "></i><a href="#">Principal</a>
						</li>
						<li class = "nav_link" id="nav__link" >
							<i class="nav__icon icon-truck"></i><a href="#">Vehículos</a>
						</li>
						<ul class="sub__menu">
							<li id="add_vehicle" ><a href="#">Agregar vehículo</a></li>
							<li><a href="listVehicle.html">Listar vehículos</a></li>
						</ul>
						<li class = "nav_link" id="nav__link" >
							<i class="nav__icon icon-road "></i><a href="#">Rodamiento</a>
						</li>
						<ul class="sub__menu">
							<li><a class="add_tread" href="#">Agregar rodamiento</a></li>
							<li><a href="#">Listar rodamiento</a></li>
						</ul>
						<li class = "nav_link" id="nav__link">
							<i class="nav__icon icon-stopwatch"></i><a href="#">Tiempos</a>
						</li>
						<ul class="sub__menu">
							<li><a href="caidas.html">Agregar Tiempos</a></li>
							<li><a href="caidas.html">Mirar Tiempos</a></li>
							<li><a href="#">Consultar Tiempo</a></li>
						</ul>
						<li class = "nav_link" id="nav__link" >
							<i class="nav__icon icon-user"></i><a href="#">Operadores</a>
						</li>
						<ul class="sub__menu">
							<li><a href="#">Agregar operador</a></li>
							<li><a href="#">Listar operador</a></li>
						</ul>
						<li class = "nav_link" id="nav__link" >
							<i class="nav__icon icon-spinner10"></i><a href="#">Turnos</a>
						</li>
						<ul class="sub__menu">
							<li><a href="#">Agregar turno</a></li>
							<li><a href="#">Listar turno</a></li>
						</ul>
						<li class = "nav_link" id="nav__link" >
							<i class="nav__icon icon-exit "></i><a href="#">Cerrar sesión</a>
						</li>
					</ul>
				</nav>
			</header>
			<section class ="info" id="info">
				<article class = "departure">
					<div class="date">
						<h1 class="title__date">Fecha</h1>
						<div class = "info__date" id="info__date"></div>
					</div>
					<div class="time">
						<h1 class="title__time">Hora</h1>
						<div class = "info__time" id="info__time"></div>
					</div>
				</article>
			</section>
			<section class="content">
				<div class="title-bienvenido" >
					<h1>Bienvenid@ Analista</h1>
				</div>
				<article class="select-ruta">
					<div class="contentCambiRuta">
						<label for="select-ruta"></label>
						<select name="select-ruta" >
							<option value="">--Elija una opcion--</option>
							<option value="rozo">Rozo</option>
							<option value="padrera">Pradera</option>
							<option value="costa-rica">Costa rica</option>
							<option value="buga">Buga</option>
							<option value="candelaria">Candelaria</option>
						</select>
					</div>
				</article>
				<article class="info__content vehiculo-turno">
					<div class="tabla-turno">
						<table>
							<caption>TURNOS ACTIVOS</caption>
							<thead>
								<tr>
									<th>Vehiculo</th>
									<th>Turno</th>
									<th>Ruta</th>
									<th>Salida</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>data</td>
									<td>data</td>
									<td>Palmira-Candelaria</td>
									<td>data</td>
								</tr>
							</tbody>
						</table>
					</div>
				</article>
			</section>
			<footer class="copyright">
				<div class="copy-div">
					<p class="copy-p">
						COPYRIGHT© SISTEMA SUIC 1.0 | DESARROLLO DE SOFTWARE
					</p>
				</div>
			</footer>
		</div>
		<script src="js/application.js">
		</script>
	</body>
</html>