<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=7">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Operador | Principal</title>
</head>
<body>
	<header id="header" class="header">
		<div>
			<picture class="header__logo">
				<source src="">
				<img src="" alt="">
			</picture>
			<nav class="header__menu">
				<ul class="header__items">
					<li class="header__item" id="header__item">
						<a href="">Inicio</a>
					</li>
					<li class="header__item" id="header__item">
						<a href="">Vehiculo</a>
							<ul class="link__sub-items">
								<li class="link__subitem"><a href="">Registrar vehiculo</a> </li>
								<li class="link__subitem"><a href="">Parque automotor</a></li>
								<li class="link__subitem"><a href="">Combustible</a></li>
							</ul>
					</li>
					<li class="header__item" id="header__item">
						<a href="">Operadores</a>
							<ul class="link__sub-items">
								<li class="link__subitem"><a href="">Registrar operador</a> </li>
								<li class="link__subitem"><a href="">Lista de operadores</a></li>
							</ul>
					</li>
					<li class="header__item" id="header__item">
						<a href="">Asociados</a>
							<ul class="link__sub-items">
								<li class="link__subitem"><a href="">Registrar asociado</a> </li>
								<li class="link__subitem"><a href="">Lista de asociados</a></li>
							</ul>
					</li>
				</ul>
			</nav>
		</div>
	</header><!-- /header -->
	<section id="ruta" class="view__ruta">
		<article class="view__rodamiento">
			<h1 class="view__title">Rodamiento de las ruta</h1>
			<form action="/action/" method="get" accept-charset="utf-8">
				<div>
					<select name="select" multiple>
						<option value="Pradera" >Pradera</option>
						<option value="Costa rica">Costa rica</option>
						<option value="Buga" selected="" >Buga</option>
						<option value="Candelaria">Candelaria</option>
						<option value="Rozo">Rozo</option>
					</select>
				</div>
			</form>
		</article>
	</section><!-- ruta -->
</body>
</html>