<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>SUIC | Registrar vehicular </title>
		<link rel="stylesheet" type="text/css" href="css/home.css">
	</head>
	<body>
		<i class=" burger-button icon-menu" id="burger-button"></i>
		<div class="container">
			<header class="header" id="header">
				<div class="header-logo">
					<a href="#">suic</a>
				</div>
				<nav class="header-nav">
					<ul class="header__nav-ul">
						<li class = "nav_link" id="nav__link" >
							<i class="nav__icon icon-home "></i><a href="#">Principal</a>
						</li>
						<li class = "nav_link" id="nav__link" >
							<i class="nav__icon icon-truck"></i><a href="#">Vehículos</a>
						</li>
						<ul class="sub__menu">
							<li id="add_vehicle" ><a href="#">Agregar vehículo</a></li>
							<li><a href="listVehicle.html">Listar vehículos</a></li>
						</ul>
						<li class = "nav_link" id="nav__link" >
							<i class="nav__icon icon-road "></i><a href="#">Rodamiento</a>
						</li>
						<ul class="sub__menu">
							<li><a class="add_tread" href="#">Agregar rodamiento</a></li>
							<li><a href="#">Listar rodamiento</a></li>
						</ul>
						<li class = "nav_link" id="nav__link">
							<i class="nav__icon icon-stopwatch"></i><a href="#">Tiempos</a>
						</li>
						<ul class="sub__menu">
							<li><a href="caidas.html">Agregar Tiempos</a></li>
							<li><a href="caidas.html">Mirar Tiempos</a></li>
							<li><a href="#">Consultar Tiempo</a></li>
						</ul>
						<li class = "nav_link" id="nav__link" >
							<i class="nav__icon icon-user"></i><a href="#">Operadores</a>
						</li>
						<ul class="sub__menu">
							<li><a href="#">Agregar operador</a></li>
							<li><a href="#">Listar operador</a></li>
						</ul>
						<li class = "nav_link" id="nav__link" >
							<i class="nav__icon icon-spinner10"></i><a href="#">Turnos</a>
						</li>
						<ul class="sub__menu">
							<li><a href="#">Agregar turno</a></li>
							<li><a href="#">Listar turno</a></li>
						</ul>
						<li class = "nav_link" id="nav__link" >
							<i class="nav__icon icon-exit "></i><a href="#">Cerrar sesión</a>
						</li>
					</ul>
				</nav>
			</header>
			<section class ="info" id="info">
				<article class = "departure">
					<div class="date">
						<h1 class="title__date">Fecha</h1>
						<div class = "info__date" id="info__date"></div>
					</div>
					<div class="time">
						<h1 class="title__time">Hora</h1>
						<div class = "info__time" id="info__time"></div>
					</div>
				</article>
			</section>
			<section class="content">
				<div class="vehi_add">
					<div class="icon_title">
						<i class="icon-user-plus icon-title "></i>
						<h1 class="main_title">Vehiculo</h1>
					</div>
					<div class="sub_title">
						<h2 class="title_sub">Registrar vehiculo</h2>
					</div>
					<div class="general_from ">
						<h2 class="info_general">Informacion vehiculo</h2>
						<div class="form_general-content info_people">
							<form action="list_turn.html" class="insert-user" method="post" accept-charset="utf-8">
								<div class="register registro-persona">
									<div class="side__left">
										<label for="placa">Placas:</label>
										<input type="text" name="placa" required>
										<label for="modelo">Modelo:</label>
										<input type="number" min="1900" max="2099" step="1" value="2016" />
										<label for="marca">Marca:</label>
										<select name="marca" required>
											<option value="">------</option>
											<option value="agrale">Agrale</option>
											<option value="chev">Chev</option>
											<option value="ford">Ford</option>
											<option value="stud">Stud</option>
											<option value="daihat">Daihat</option>
											<option value="merc">Merc</option>
											<option value="dodg">Dodg</option>
											<option value="hino">Hino</option>
											<option value="nonplus">Non plus ultra</option>
											<option value="nissan">Nissan</option>
											<option value="novie">Novie</option>
											<option value="iveco">Iveco</option>
											<option value="volk">Volk</option>
											<option value="tl">TL</option>
											<option value="jac">JAC</option>
											<option value="pasaporte">Pasaporte</option>
										</select>
										<label for="capacidad">capacidad:</label>
										<input type="number" name="capacidad" min="20" max="50" required>
										<label for="consumo">Consumo * galon:</label>
										<input type="number" name="consumo" min="10" max="30" required>
									</div>
									<div class="side__rigth">
										<label for="ruta">Ruta:</label>
											<select name="ruta" required>
											<option value="">------</option>
											<option value="rozo">Rozo</option>
											<option value="pradera">Pradera</option>
											<option value="buga">Buga</option>
											<option value="candelaria">Candelaria</option>
											<option value="costa_rica">Costa rica</option>
											<option value="florida">Florida</option>
										</select>
										<label for="interno">Num interno:</label>
										<input type="number" name="interno">
										<label for="clase_bus">Clase bus</label>
										<select name="clase_bus" required>
											<option value="">------</option>
											<option value="bus">Bus</option>
											<option value="buseta">Buseta</option>
											<option value="microbus">Microbus</option>
											<option value="npr">BusetaNPR</option>
										</select>
										<label for="carroceria">Carroceria</label>
										<select name="carroceria" required>
											<option value="">------</option>
											<option value="abuerto">Abierto</option>
											<option value="cerrado">Cerrado</option>
											<option value="escalera">Escalera</option>
										</select>
									</div>
								</div>
								<div class="btn_form div_btn">
									<input type="submit" class="btn-save" name="" value="Guardar">
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>
			<footer class="copyright">
				<div class="copy-div">
					<p class="copy-p">
						COPYRIGHT© SISTEMA SUIC 1.0 | DESARROLLO DE SOFTWARE
					</p>
				</div>
			</footer>
		</div>
		<script src="js/application.js">
		</script>
	</body>
</html>